.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: pointer;
    background: red;
  }

  .question-detail-container {
    max-width: 510px;
    flex-grow: 1;
  }

  .view-reply-container {
    max-width: 110px;
    flex-grow: 2;
  }

  .author-container {
    max-width: 270px;
    flex-grow: 3;
  }

  .solved-container {
    display: flex;
    gap: 10px;

    fa-icon {
      cursor: pointer;
    }
  }
}
